<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <title>Sorgu</title>
</head>
<body>
    <div style = "margin-top: 100px;" class = "container">
    <h3>kişi sorgusu</h3>
    <hr>
        {% if database1==[] %}
        <div class="alert alert-danger" role ="start">Herhangibi Veri Bulunmuyor</div>
        {% else %}
        <hr>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Ad</th>
              <th scope="col">Soyad</th>
              <th scope="col">numara</th>
              <th scope="col">Veriyi Sil</th>
            </tr>
          </thead>
          <tbody>
            {% for database4 in database1 %}
              <tr>
                <th scope="row">{{database4.id}}</th>
                <td>{{database4.title}}</td>
                <td>{{database4.soyad}}</td>
                <td>{{database4.numara}}</td>
              </tr>
              {% endfor %}
          <tbody>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>
        </table>
        {% endif %}
      </div>  
      </body>
      </html>
    </div>
</body>
</html>
